name: Trading strategy bot

on:
  schedule:
    - cron: "15 21 * * 1-5" # runs at 21:15 UTC, Monday-Friday
  workflow_dispatch:        # runs manualy if desired

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Run script
        env:
          TOKEN: ${{ secrets.TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          for i in {1..3}; do
          echo "Attempt $i of 3."
            python trading_strategy_bot.py && break || echo "Attempt $i has failed. Retrying in 30 seconds." && sleep 30
          done